nav {
    display: flex;
}

#primary {
    background-color: antiquewhite;
}

a {
    background-color: lightblue;
    color: rgb(71, 68, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

.background {
    background-color: azure;
}