@import url(https://fonts.googleapis.com/css2?family=Arvo&family=Oswald&display=swap);

#content{
    font-family: 'Arvo', 'Oswald';
}
header{
    background-color: #0E402D;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .social img{
    padding-top: 15px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
#hero-img{
    width: 100%;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}    
.book, .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}    
header a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
header a:hover{
    background-color: #00a030;
}
header p {
    font-size: 1.2em;
}    
header p a:hover {
    text-decoration: underline;
}    
.home-title{
    margin-top: 10px;
}

footer{
    background-color: #0E402D;;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
footer .social img{
    padding-top: 15px;
}
footer p{
    color: white;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
#hero-img{
    width: 100%;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}    
.book, .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}    

footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
.home-title{
    margin-top: 10px;
}
.griddy{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.viewwide{
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
    width: 100%;
}
.maintext{
    grid-column: 1/3;
    grid-row: 1;
    z-index: 1;
    justify-self: center;
    font-size: 600%;
    color: white;
    padding-top: 225px;
}
.space1{
    grid-column: 1/3;
    grid-row: 2;
    background-color: #00a030;
    padding: 5px;
}
.approaching{
    grid-column: 1;
    grid-row: 3;
    width: 500px;
    border-radius: 5%;
    z-index: 1;
}
.p1{
    grid-row: 3;
    grid-column: 1/3;
    padding: 25px;
    color: white;
    font-size:larger;
    background-color: #0E402D;
    padding-left: 525px;
    padding-top: 75px;
}
.space2{
    grid-column: 1/3;
    grid-row: 4;
    background-color: #00a030;
    padding: 5px;
}
.p2{
    grid-column: 1/3;
    grid-row: 5;
    background-color: #0E402D;
    padding: 25px;
    color: white;
    font-size: 150%;
}
.space3{
    grid-column: 1/3;
    grid-row: 6;
    background-color: #00a030;
    padding: 5px;
}
.meclimb{
    grid-row: 7;
    grid-column: 2/3;
    width: 50%;
    margin-left: 375px;
    z-index: 1;
    border-radius: 5%;
}
.p3{
    grid-column: 1/3;
    grid-row: 7;
    background-color: #0E402D;
    padding: 25px;
    color: white;
    font-size: 160%;
    padding-right: 400px;
    padding-top: 75px;
}

/* This is for page 2 */

.drill{
    grid-column: 2/3;
    grid-row: 1;
    width: 40%;
    margin: 25px;
    margin-left: 400px;
}
.pp1{
    grid-column: 1/2;
    grid-row: 1;
    color: white;
    padding: 25px;
    font-size: 175%;
    margin-right: -375px;
    border-radius: 5%;
    background-color: #0E402D;
    padding-top: 50px;
}
.p2space1{
    grid-column: 1/3;
    grid-row: 2;
    padding: 5px;
    background-color: #00a030;
}
.rope{
    grid-column: 1/2;
    grid-row: 3;
    width: 65%;
}
.pp2{
    grid-column: 2/3;
    grid-row: 3;
    background-color: #0E402D;
    margin-left: -225px;
    padding: 25px;
    border-radius: 5%;
    color: white;
    font-size: 175%;
}
.p2space2{
    grid-column: 1/3;
    grid-row: 4;
    padding: 5px;
    background-color: #00a030;
}
.pp3{
    justify-self: center;
    grid-column: 1/3;
    grid-row: 5;
    background-color: #0E402D;
    padding: 25px;
    color: white;
    font-size: 175%;
}

/* This is for page 3 */

.download{
    grid-column: 1/2;
    grid-row: 1;
    width: 60%;
    margin: 25px;
    justify-self: center;
    padding-top: 45px;
    border-radius: 5%;
}
.brohangin{
    grid-column: 2/3;
    grid-row: 1;
    width: 35%;
    margin: 25px;
    justify-self: center;
    border-radius: 5%;
}
.p3space1{
    grid-column: 1/3;
    grid-row: 1;
    background-color: #0E402D;
    z-index: -1;
}
.ppp1{
    grid-column: 1/3;
    grid-row: 2;
    justify-self: center;
    padding: 25px;
    background-color: #0E402D;
    color: white;
    font-size: 175%;
}
.view2{
    grid-column: 1/3;
    grid-row: 3;
    width: 25%;
    justify-self: center;
    padding: 25px;
}
.ppp2{
    grid-column: 2/3;
    grid-row: 3;
    justify-self: right;
    background-color: #0E402D;
    padding: 25px;
    color: white;
    font-size: 175%;
    margin-left: 250px;
}
.ppp3{
    grid-column: 1/2;
    grid-row: 3;
    justify-self: left;
    background-color: #0E402D;
    padding: 25px;
    color: white;
    font-size: 175%;
    margin-right: 250px;
}